
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/IBTool/.vs/*
library/IBTool/IBTool/bin/*
library/IBTool/IBTool/obj/*

# ignore PowerShell Studio MetaData
IBTool/IBTool.psproj
IBTool/IBTool.psproj.bak
IBTool/IBTool.psprojs
IBTool/IBTool.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*